#title{
    text-align: center;
}
#description{
    text-align: center;
}

#survey-form{
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px;
    background-color: rgba(27,27,50,0.8);
    color: white;
}

body{
    background-color: lightblue
}

